# ========================
# Large files (DO NOT PUSH)
# ========================
Models/
Data/

Models/*.joblib
Data/*.csv

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual env
# ========================
nova-rf/
venv/
.env

# ========================
# MacOS
# ========================
.DS_Store

# ========================
# Streamlit
# ========================
.streamlit/secrets.toml

# ========================
# Logs
# ========================
*.log